{{!
Takes:
@param {User} sender
@param {Document} doc
From Base:
@param {string} supportEmail
}}
{{#extend "base"}}
    {{#content "content"}}
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
            Hey {{sender.name}},</p><br>

        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
            Attached is the document you requested. The document is currently {{doc.status}}. You can access this online
            to review, make changes, and see contacts.
        </p>
    {{/content}}
{{/extend}}