{{!
    Takes:
    @param {Company}
}}

<p>&emsp;&emsp;&emsp;<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IN WITNESS WHEREOF,</strong> the parties have caused the Agreement to be signed by their duly authorized representatives as of the date first above written.</p>
<table>
    <tr>
        <td width="55%">
            <p style="text-transform: uppercase"><b>{{company.name}}</b></p>
            <br>
            <p>By:</p>
                <p>&emsp;&emsp;&emsp;Name:</p>
                <p>&emsp;&emsp;&emsp;Title:</p>
                <p>&emsp;&emsp;&emsp;Date:</p>
        </td>
        
        <td width="45%">
            <p style="text-tranform: uppercase"><b>THE TRUSTEES OF THE STEVENS<br>INSTITUTE OF TECHNOLOGY</b></p>
            <br>
            <p>By:</p>
                <p>&emsp;&emsp;&emsp;Name:</p>
                <p>&emsp;&emsp;&emsp;Title:</p>
                <p>&emsp;&emsp;&emsp;Date:</p>
        </td>
    </tr>
    <td width="55%"></td>
    <td width="45%">
        <br>
        <br>
        <p><b>Principal Investigator</b></p>
        <br>
        <p>By:</p>
            <p>&emsp;&emsp;&emsp;Name: {{pi.name}}</p>
            <p>&emsp;&emsp;&emsp;Title: {{pi.title}}</p>
            <p>&emsp;&emsp;&emsp;Date:</p>
    </td>
</table>